<!DOCTYPE html>
<html><head><title>_ViewStart.cshtml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(3);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/_ViewStart.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\_ViewStart.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@{
    Layout = &quot;~/Views/Shared/_Layout.cshtml&quot;;
}</pre></td></tr></table></div></body></html>
