<!DOCTYPE html>
<html><head><title>Index.cshtml</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="ix(237);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/TreeView/Index.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\TreeView\Index.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@model GitAspx.ViewModels.TreeViewModel
@using GitAspx;
@using GitAspx.Properties;
@{
    ViewBag.Title = Model.Title;
}
 
<span class="xd">&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repositoryContainer</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">table </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">width: 100%</span>&quot;<span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">tr</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">td</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">switchBar</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void()</span>&quot;<span class="xd">&gt;</span>
                                @Resources.Branches
                                (@Model.Repository.Branches.Count)
                            <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span>
 
                            @if (Model.Repository.Branches.Any())
                            {
                            <span class="xd">&lt;</span><span class="xn">ul</span><span class="xd">&gt;</span>
                                @foreach (var lkvpBranch
                                        in Model.Repository.Branches.OrderByStringNatural(a =&gt; a.Key))
                                    {
                                    <span class="xd">&lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                                        &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(
                                                </span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/tree/&quot; +
                                                    lkvpBranch.Key +
                                                    Model.PathSegments.JoinLeft(&quot;/&quot;))&quot;
                                           title=&quot;@lkvpBranch.Key&quot;&gt;</span>
                                            @lkvpBranch.Key
                                        <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                                    &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span>
                                    }
                            <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span>
                            }
                        <span class="xd">&lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void()</span>&quot;<span class="xd">&gt;</span>@Resources.Tags (@Model.Repository.Tags.Count)<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span>
                            @if (Model.Repository.Tags.Any())
                            {
                            <span class="xd">&lt;</span><span class="xn">ul</span><span class="xd">&gt;</span>
                                @foreach (var lkvpTag in
                                        Model.Repository.Tags.OrderByStringNatural(a =&gt; a.Key))
                                    {
                                    <span class="xd">&lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                                        &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(
                                                </span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/tree/&quot; + lkvpTag.Key +
                                                Model.PathSegments.JoinLeft(&quot;/&quot;))&quot;
                                           title=&quot;@lkvpTag.Key&quot;&gt;</span>
                                            @lkvpTag.Key
                                        <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                                    &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span>
                                    }
                            <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span>
                            }
                        <span class="xd">&lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">li</span><span class="xd">&gt;</span>
                            @{var liLimit = 1000;}
                            @{var liAncestors = Model.Commit.Ancestors.CountWithLimit(liLimit);}
                            <span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void()</span>&quot;<span class="xd">&gt;</span>
                                @Resources.Parents (@(liAncestors &gt; liLimit
                                        ? liLimit + &quot;+&quot; : liAncestors.ToString()))
                            <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span>
                            @if (Model.Commit.Ancestors.Any())
                            {
                            <span class="xd">&lt;</span><span class="xn">ul</span><span class="xd">&gt;</span>
                                @foreach (var loCommit in Model.Commit.Ancestors.Take(liLimit))
                                    {
                                    <span class="xd">&lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                                        &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(
                                                </span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/tree/&quot; +
                                                loCommit.Hash + Model.PathSegments.JoinLeft(&quot;/&quot;))&quot;
                                           title=&quot;@loCommit.Hash&quot;&gt;</span><span class="xd">
                                            &lt;</span><span class="xn">span </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">font-size: 10px; color: green</span>&quot;<span class="xd">&gt;</span>@loCommit.CommitDate.ToPrettyDateString(): <span class="xd">&lt;/</span><span class="xn">span</span><span class="xd">&gt;</span>@loCommit.Message.Shorten(50)
                                        <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                                    &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span>
                                    }
                            <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span>
                            }
                        <span class="xd">&lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
 
                        &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void()</span>&quot;<span class="xd">&gt;</span>@Resources.Settngs<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
                                &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                                    &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/settings/ShowTreeNodeDetails/&quot; + !Model.WebBrowsingSettings.ShowTreeNodeDetails)&quot;&gt;</span>
                                        @(Model.WebBrowsingSettings.ShowTreeNodeDetails ? Resources.HideTreeNodeDetails : Resources.ShowTreeNodeDetails)
                                    <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                                &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                            &lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">td</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">tr</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">tr</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">td </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">width: 70%</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">div </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">font-size: 130%; border: 1px dashed white; padding: 5px</span>&quot;<span class="xd">&gt;</span>
                    @foreach (string lsLine in Model.Commit.Message.SplitLines())
                    {
                    <span class="xd">&lt;</span><span class="xn">div</span><span class="xd">&gt;</span>
                        @(new MvcHtmlString(lsLine.ToHtmlWithSpaces()))
                    <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
                    }
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">commit</span>&quot;<span class="xd">&gt;</span>
                    @Model.Commit.Committer.Name
                    <span class="xer">&amp;lt;</span><span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">mailto:@Model.Commit.Committer.EmailAddress</span>&quot;<span class="xd">&gt;</span>@Model.Commit.Committer.EmailAddress<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xer">&amp;gt;</span>
                    @(Model.Commit.IsCommittedByAuthor ? &quot;(author)&quot; : &quot;&quot;)
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">commit</span>&quot;<span class="xd">&gt;</span>
                    @Model.Commit.CommitDate
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">td</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">td </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">branch</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">i</span><span class="xd">&gt;</span>@Resources.Branch<span class="xd">&lt;/</span><span class="xn">i</span><span class="xd">&gt;</span>
                    @foreach (var loBranch in Model.Branches)
                    {
                        if (loBranch.CurrentCommit.Hash == Model.Commit.Hash)
                        {
                    <span class="xd">&lt;</span><span class="xn">b </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">border: 1px solid gray; background-color: red; color: white</span>&quot;<span class="xd">&gt;</span>@loBranch.Name<span class="xd">&lt;/</span><span class="xn">b</span><span class="xd">&gt;</span>
                        }
                        else
                        {
                    <span class="xd">&lt;</span><span class="xn">b </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">border: 1px solid gray; background-color: green; color: white</span>&quot;<span class="xd">&gt;</span>@loBranch.Name<span class="xd">&lt;/</span><span class="xn">b</span><span class="xd">&gt;</span>
                        }
                    }
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
                @if (Model.Tags.Any())
                {
                <span class="xd">&lt;</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">i</span><span class="xd">&gt;</span>@Resources.Tag<span class="xd">&lt;/</span><span class="xn">i</span><span class="xd">&gt;</span>
                    @foreach (var loTag in Model.Tags)
                        {
                        <span class="xd">&lt;</span><span class="xn">b </span><span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">border: 1px solid white; background-color: yellow</span>&quot;<span class="xd">&gt;</span>@loTag.Name<span class="xd">&lt;/</span><span class="xn">b</span><span class="xd">&gt;</span>
                        }
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
                }
                <span class="xd">&lt;</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">i</span><span class="xd">&gt;</span>@Resources.Commit<span class="xd">&lt;/</span><span class="xn">i</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">hash</span>&quot;<span class="xan">
                       href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(
                        </span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/commit/&quot; + Model.Commit.Hash + Model.PathSegments.JoinLeft(&quot;/&quot;))&quot;
                       title=&quot;@Model.Commit.Hash&quot;&gt;</span>@Model.Commit.ShortHash<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
                @if (Model.Commit.Parents.Any())
                {
                    foreach (var loParent in Model.Commit.Parents)
                    {
                <span class="xd">&lt;</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">i</span><span class="xd">&gt;</span>@Resources.Parent<span class="xd">&lt;/</span><span class="xn">i</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">hash</span>&quot; <span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/tree/&quot; + loParent.Hash + Model.PathSegments.JoinLeft(&quot;/&quot;))&quot;
                       title=&quot;@loParent.Hash&quot;&gt;</span>@loParent.ShortHash<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span>
                    @loParent.CommitDate.ToPrettyDateString()
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
                    }
                }
                <span class="xd">&lt;</span><span class="xn">div</span><span class="xd">&gt;</span>
                    Repository Size: ~@Model.RepositorySize
                <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">td</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">tr</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">table</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">h1</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot;)&quot;&gt;</span>git<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span>
        /
 
        @Model.Project@Model.PathSegments.JoinLeft(&quot; / &quot;)
    <span class="xd">&lt;/</span><span class="xn">h1</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">hint</span>&quot;<span class="xd">&gt;</span>
        @Resources.RightClickToDownload
    <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">ul </span><span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">repositories</span>&quot;<span class="xd">&gt;</span>
        @foreach (var loDir in Model.Directories)
        {
            var loCommit = Model.WebBrowsingSettings.ShowTreeNodeDetails ? loDir.GetLastCommitBefore(Model.Commit) : null;
            <span class="xd">&lt;</span><span class="xn">nobr</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repository</span>&quot;<span class="xan">
                       href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/tree/&quot; + Model.TreeName + &quot;/&quot; + Model.PathSegments.JoinRight(&quot;/&quot;) + loDir.Name)&quot;
                       title=&quot;@Url.Content(&quot;~/&quot; + Model.Project + &quot;/download/&quot; + Model.TreeName + &quot;/&quot; + Model.PathSegments.JoinRight(&quot;/&quot;) + loDir.Name)&quot;&gt;</span>
                        @loDir.Name
                        <span class="xd">&lt;</span><span class="xn">span </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">latest-commit</span>&quot;<span class="xd">&gt;</span>
                            @loDir.Trees.Count() @Resources.Directories, @loDir.Leaves.Count() @Resources.Files
                            @if (loCommit != null)
                        {
                        @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;@loCommit.CommitDate.ToPrettyDateString()
                        @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;@loCommit.Message.Shorten(60)
                        @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;[@loCommit.Committer.Name]
                        }
                        <span class="xd">&lt;/</span><span class="xn">span</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">nobr</span><span class="xd">&gt;</span>
        }
        @foreach (var loFile in Model.Files)
        {
            var loCommit = Model.WebBrowsingSettings.ShowTreeNodeDetails ? loFile.GetLastCommitBefore(Model.Commit) : null;
            <span class="xd">&lt;</span><span class="xn">nobr</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repository</span>&quot;<span class="xan">
                       href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.Project + &quot;/blob/&quot; + Model.TreeName
                    + &quot;/&quot; + Model.PathSegments.JoinRight(&quot;/&quot;)
                    + loFile.Name + (loFile.Name.EndsWith(&quot;.cs&quot;) ? &quot;.html&quot; : &quot;&quot;))&quot;
                       title=&quot;@Url.Content(&quot;~/&quot; + Model.Project + &quot;/download/&quot; + Model.TreeName + &quot;/&quot; + Model.PathSegments.JoinRight(&quot;/&quot;) + loFile.Name)&quot;&gt;</span>
                        @loFile.Name
                        <span class="xd">&lt;</span><span class="xn">span </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">latest-commit</span>&quot;<span class="xd">&gt;</span>
                            @loFile.Size @Resources.Bytes
                            @if (loCommit != null)
                            {
                                @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;@loCommit.CommitDate.ToPrettyDateString()
                                @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;@loCommit.Message.Shorten(60)
                                @:<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;<span class="xer">&amp;</span>nbsp;[@loCommit.Committer.Name]
                        }
                        <span class="xd">&lt;/</span><span class="xn">span</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">nobr</span><span class="xd">&gt;</span>
        }
    <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
&lt;</span><span class="xn">script </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text/javascript</span>&quot;<span class="xd">&gt;</span>
    $(function () {
        $(&#39;a.repository&#39;).bind(&quot;contextmenu&quot;, function () {
            var url = $(this).attr(&#39;title&#39;);
            location.href = url;
            return false;
        });
    });
<span class="xd">&lt;/</span><span class="xn">script</span><span class="xd">&gt;</span></pre></td></tr></table></div></body></html>
