<!DOCTYPE html>
<html><head><title>Index.cshtml</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="ix(44);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/DownloadView/Index.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\DownloadView\Index.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@model GitAspx.ViewModels.DownloadViewModel
@using GitAspx;
@using GitSharp;
@using ICSharpCode.SharpZipLib.Zip;
@functions{
    void AddDirectoryToZip(ZipOutputStream aoZipStream, Tree aoTree, string asDirectory)
    {
        foreach (Leaf loLeaf in aoTree.Leaves)
        {
            ZipEntry loZipEntry = new ZipEntry(asDirectory + loLeaf.Name);
            aoZipStream.PutNextEntry(loZipEntry);
            aoZipStream.Write(loLeaf.RawData, 0, loLeaf.RawData.Length);
            aoZipStream.CloseEntry();
        }
        foreach (Tree loTree in aoTree.Trees)
            AddDirectoryToZip(aoZipStream, loTree, asDirectory + loTree.Name + &quot;/&quot;);
    }
}
@{
    Response.Clear();
    if (Model.File != null)
    {
        Response.Cache.SetLastModified(Model.File.GetLastCommit().CommitDate.UtcDateTime);
        Response.WriteBinary(Model.File.RawData, &quot;application/&quot; + Path.GetExtension(Model.File.Name));
    }
    else if (Model.Directory != null)
    {
        string lsProject = Model.Project.SplitSlashes_OrEmpty().LastOrDefault();
        string lsBareFileName = (!string.IsNullOrEmpty(Model.Directory.Name) ? Model.Directory.Name : lsProject) + &quot;-&quot; + Model.Commit.ShortHash + &quot;-&quot; + Model.Directory.ShortHash;
        Response.ContentType = &quot;application/x-zip-compressed&quot;;
        Response.AppendHeader(&quot;content-disposition&quot;, &quot;attachment; filename=&quot; + lsBareFileName + &quot;.zip&quot;);
        Response.Flush();
        string lsZipFile = Path.GetTempFileName();
        using (ZipOutputStream loZipStream = new ZipOutputStream(File.Create(lsZipFile)))
        {
            AddDirectoryToZip(loZipStream, Model.Directory, &quot;&quot;);
            loZipStream.Finish();
            loZipStream.Close();
        }
        Response.BinaryWrite(File.ReadAllBytes(lsZipFile));
        File.Delete(lsZipFile);
    }
    Response.End();
}</pre></td></tr></table></div></body></html>
