<!DOCTYPE html>
<html><head><title>Index.cshtml</title><link rel="stylesheet" href="../../../../../styles.css"><script src="../../../../../scripts.js"></script></head>
<body class="cB" onload="ix(16);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/osx-wiki/vnext/dockerMvcSample-master/Views/Home/Index.cshtml" target="_top">/osx-wiki\vnext\dockerMvcSample-master\Views\Home\Index.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@using MvcSample.Web.Models
@model User
@{
    Layout = &quot;/Views/Shared/_Layout.cshtml&quot;;
    ViewBag.Title = &quot;Home Page&quot;;
    string helloClass = null;
}

<span class="xd">&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jumbotron</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">h1</span><span class="xd">&gt;</span>ASP.NET running on Linux in Docker<span class="xd">&lt;/</span><span class="xn">h1</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">p </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">lead</span>&quot;<span class="xd">&gt;</span>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.<span class="xd">&lt;/</span><span class="xn">p</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">p</span><span class="xd">&gt;</span><span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">http://asp.net</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">btn btn-primary btn-large</span>&quot;<span class="xd">&gt;</span>Learn more <span class="xer">&amp;</span>raquo;<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">&lt;/</span><span class="xn">p</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">row</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">h3 </span><span class="xan">title</span><span class="xd">=</span>&quot;<span class="xav">@Model.Name</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">@helloClass</span>&quot;<span class="xd">&gt;</span>Hello @Model.Name!<span class="xd">&lt;/</span><span class="xn">h3</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
