<!DOCTYPE html>
<html><head><title>Control.cs</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="i(38);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#fcmdp/Model/View/Control.cs" target="_top">Model\View\Control.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#fcmdp" target="_top">fcmd\fcmdp.csproj</a> (fcmdp)</td><td></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">fcmd</span>.<span class="i n">Model</span>;
<b>using</b> <span class="i n">System</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Collections</span>.<span class="i n">Generic</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Linq</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Text</span>;
 
<b>namespace</b> <span class="i n">fcmd</span>.<span class="i n">View</span>
{
 
    <b>public static class</b> <a id="e6d9d81580a42239" href="../../R/e6d9d81580a42239.html" target="n" data-glyph="0,0" class="t t">CommanderBackend</a>
    {
        <b>public static</b> <a href="../IBackend.cs.html#c9eab0464cbf5cac" class="t t">IBackend</a> <a id="b5a4c92293431bf8" href="../../R/b5a4c92293431bf8.html" target="n" data-glyph="102,1" class="i property">Current</a> { <b>get</b>; <b>private set</b>; }
 
        <b>public static void</b> <a id="36683e9949901abf" href="../../R/36683e9949901abf.html" target="n" data-glyph="72,1" class="i method">Startup</a>()
        {
            <a href="@0@mscorlib/A.html#2e9e7922eace2be8" class="t t">AppDomain</a>.<a href="@0@mscorlib/A.html#0f1cf66beffbb219" class="i property">CurrentDomain</a>.<a href="@0@mscorlib/A.html#5f15c93fb29d34a9" class="i">UnhandledException</a> +=
                (<span id="r0 rd" class="r0 r">s</span>, <span id="r1 rd" class="r1 r">e</span>) =&gt; <a href="#3ad0eb1834ffde7a" class="i method">UnhandledException</a>(<span class="r0 r">s</span>, <span class="r1 r">e</span>);
 
<span class="k preprocess">#</span><span class="k preprocess">if</span> <span class="i">WPF</span>
            <a href="#b5a4c92293431bf8" class="i property">Current</a> = <b>new</b> <span class="i n">fcmd</span>.<span class="i n">View</span>.<a href="../../View.Xaml/XamlBackend.cs.html#6d16b52b1141d28d" class="t constructor">WpfBackend</a>();
<span class="k preprocess">#</span><span class="k preprocess">else</span>
<span class="e">            Current = new fcmd.View.GtkBackend();
</span><span class="k preprocess">#</span><span class="k preprocess">endif</span>
 
        }
 
        <b>static void</b> <a id="3ad0eb1834ffde7a" href="../../R/3ad0eb1834ffde7a.html" target="n" data-glyph="76,1" class="i method">UnhandledException</a>(<b>object</b> <span id="r2 rd" class="r2 r">sender</span>, <a href="@0@mscorlib/A.html#155dee805ece5aa6" class="t t">UnhandledExceptionEventArgs</a> <span id="r3 rd" class="r3 r">evt</span>)
        {
            <a href="@0@mscorlib/A.html#f092fb2b893a0162" class="k">var</a> <span id="r4 rd" class="r4 r">ex</span> = <span class="r3 r">evt</span>.<a href="@0@mscorlib/A.html#d87062835ca0c56d" class="i property">ExceptionObject</a> <b>as</b> <a href="@0@mscorlib/A.html#f092fb2b893a0162" class="t t">Exception</a>;
            <span class="i n">System</span>.<a href="@0@mscorlib/A.html#f907d79481da6ba4" class="t t">Console</a>.<a href="@0@mscorlib/A.html#5ac7c4fda643413b" class="i method">WriteLine</a>(<span class="r4 r">ex</span>.<a href="@0@mscorlib/A.html#5fba0e16215b42a3" class="i property">Message</a>);
<span class="k preprocess">#</span><span class="k preprocess">if</span> <span class="i">WPF</span>
            <span class="i n">System</span>.<span class="i n">Windows</span>.<a href="@0@PresentationFramework/A.html#5f466a86dcc227ac" class="t t">MessageBox</a>.<a href="@0@PresentationFramework/A.html#d30dae02a986885a" class="i method">Show</a>(<span class="r4 r">ex</span>.<a href="@0@mscorlib/A.html#5fba0e16215b42a3" class="i property">Message</a>);
<span class="k preprocess">#</span><span class="k preprocess">endif</span>
        }
    }
 
}
</pre></td></tr></table></div></body></html>
