<!DOCTYPE html>
<html><head><title>_Layout.cshtml</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="ix(44);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/Shared/_Layout.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\Shared\_Layout.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@using GitAspx;
@using GitAspx.ViewModels;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;@ViewBag.Title - GitAspx&lt;/title&gt;
    &lt;link rel=&quot;Stylesheet&quot; type=&quot;text/css&quot; href=&quot;@Url.Content(&quot;~/Content/Site.css&quot;)&quot; /&gt;
    &lt;!--[if IE 7]&gt; &lt;style type=&quot;text/css&quot;&gt;@@import &quot;@Url.Content(&quot;~/Content/IE7-override.css&quot;)&quot;;&lt;/style&gt; &lt;![endif]--&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;@Url.Content(&quot;~/Scripts/jquery-1.7.1.min.js&quot;)&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;@Url.Content(&quot;~/Scripts/jquery.modal.js&quot;)&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div&gt;
        &lt;script type=&quot;text/javascript&quot;&gt;
            &lt;!-- &lt;![CDATA[
            if (jQuery.browser.msie &amp;&amp; parseFloat(jQuery.browser.version) &lt;= 7.0) {
                document.write(&quot;&lt;div style=&#39;font-size: 20px; color: red; text-align: center; background-color: white&#39;&gt;Please use Internet Explorer at least 8 or fail to use some features!&lt;/div&gt;&quot;);
            }
            //]]&gt; --&gt;
        &lt;/script&gt;
        @RenderBody()
 
        &lt;div id=&quot;footer&quot;&gt;
            &lt;a href=&quot;http://github.com/linquize/git-dot-aspx&quot;&gt;Powered by GitAspx @Helpers.Version&lt;/a&gt;,
            &lt;a href=&quot;http://github.com/linquize/GitSharp&quot;&gt;GitSharp @Helpers.GitDllVersion&lt;/a&gt;,
            &lt;a href=&quot;http://github.com/linquize/GitSharp&quot;&gt;GitSharp.Core @Helpers.GitCoreDllVersion&lt;/a&gt;
            @{var loModel = Model as WebBrowsingBaseViewModel;}
            @if (loModel != null)
            {
                if (loModel.Repository != null)
                {
                    loModel.Repository.Close();
                }
                @((DateTime.Now - loModel.CtorTime).TotalMilliseconds.ToString(&quot;F1&quot;) + &quot; ms&quot;)
            }
            &lt;div&gt;
                @Environment.OSVersion, CLR @Environment.Version,
                @(Environment.Is64BitOperatingSystem ? &quot;64-bit edition&quot; : &quot;32-bit edition&quot;),
                @(Environment.Is64BitProcess ? &quot;64-bit mode&quot; : &quot;32-bit mode&quot;)
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre></td></tr></table></div></body></html>
