<!DOCTYPE html>
<html><head><title>Cat.cshtml</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="ix(67);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/DirectoryList/Cat.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\DirectoryList\Cat.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@model GitAspx.ViewModels.CatViewModel
@using GitAspx.Properties;
@{
    ViewBag.Title = &quot;git Repositories&quot;;
}

<span class="xd">&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">switchBar</span>&quot; <span class="xan">style</span><span class="xd">=</span>&quot;<span class="xav">position: absolute</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void()</span>&quot;<span class="xd">&gt;</span>@Resources.Cultures (5)<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/settings/Culture/en-US&quot;)&quot;&gt;</span>English<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">&lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">

&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repositoryContainer</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">h1</span><span class="xd">&gt;</span>@Model.RepositoryCategory<span class="xd">&lt;/</span><span class="xn">h1</span><span class="xd">&gt;</span><span class="xd">

    &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void(0)</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">createRepository</span>&quot;<span class="xd">&gt;</span>@Resources.CreateCategory<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">clear</span>&quot;<span class="xd">&gt;</span><span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">

    &lt;</span><span class="xn">ul </span><span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">repositories</span>&quot;<span class="xd">&gt;</span>
        @foreach (var loCategory in Model.Categories)
        {
            <span class="xd">&lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repository</span>&quot; <span class="xan">
                   href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; +
                        Model.RepositoryCategory + (string.IsNullOrEmpty(Model.RepositoryCategory) ? &quot;&quot; : &quot;/&quot;) +
                        loCategory.CatName)&quot;
                   title=&quot;&quot;&gt;</span>
                   @loCategory.CatName
                   <span class="xd">&lt;</span><span class="xn">span </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">latest-commit</span>&quot;<span class="xd">&gt;</span>
                        @loCategory.LatestRepositoryName : @loCategory.LatestCommitInfo
                   <span class="xd">&lt;/</span><span class="xn">span</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span>
        }
    <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">

&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">

&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmWindow</span>&quot; <span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">createRepositoryDialog</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">title</span>&quot;<span class="xd">&gt;</span>@Resources.CreateCategory <span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">#</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmClose</span>&quot;<span class="xd">&gt;</span><span class="xd">&lt;</span><span class="xn">img </span><span class="xan">src</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/Content/images/close.png&quot;)&quot; alt=&quot;Close&quot; /&gt;</span><span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">content</span>&quot;<span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">form </span><span class="xan">method</span><span class="xd">=</span>&quot;<span class="xav">post</span>&quot; <span class="xan">action</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; + Model.RepositoryCategory + (string.IsNullOrEmpty(Model.RepositoryCategory) ? &quot;&quot; : &quot;/&quot;) + &quot;create&quot;)&quot;&gt;</span><span class="xd">
            &lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">hidden</span>&quot; <span class="xan">name</span><span class="xd">=</span>&quot;<span class="xav">cat</span>&quot; <span class="xan">value</span><span class="xd">=</span>&quot;<span class="xav">@Model.RepositoryCategory</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text</span>&quot; <span class="xan">name</span><span class="xd">=</span>&quot;<span class="xav">newcat</span>&quot; <span class="xd">/&gt;</span><span class="xd">&lt;</span><span class="xn">br </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">submit</span>&quot; <span class="xan">value</span><span class="xd">=</span>&quot;<span class="xav">@Resources.CreateCategory</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">button</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">form</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">

&lt;</span><span class="xn">script </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text/javascript</span>&quot;<span class="xd">&gt;</span>
    $(function () {
        $(&#39;#createRepositoryDialog&#39;).jqm();

        $(&#39;#repository-url&#39;).click(function () {
            $(this).select();
        });

        $(&#39;a.createRepository&#39;).click(function () {
            $(&#39;#createRepositoryDialog&#39;).jqmShow();
        });
    });
<span class="xd">&lt;/</span><span class="xn">script</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
