<!DOCTYPE html>
<html><head><title>Index.cshtml</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="ix(87);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#GitAspx/d:/Sanitex/webstack/git-dot-aspx/GitAspx/Views/DirectoryList/Index.cshtml" target="_top">d:\Sanitex\webstack\git-dot-aspx\GitAspx\Views\DirectoryList\Index.cshtml</a><br/></td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
@model GitAspx.ViewModels.DirectoryListViewModel
@using GitAspx;
@{
    ViewBag.Title = &quot;Repositories&quot;;
}
 
<span class="xd">&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repositoryContainer</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">h1</span><span class="xd">&gt;</span>
        @Model.RepositoriesDirectory
    <span class="xd">&lt;/</span><span class="xn">h1</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void(0)</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">createRepository</span>&quot;<span class="xd">&gt;</span>Create a new bare repository<span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">clear</span>&quot;<span class="xd">&gt;</span><span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">hint</span>&quot;<span class="xd">&gt;</span>
        @*Right Click To Show Git Url*@
    <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">ul </span><span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">repositories</span>&quot;<span class="xd">&gt;</span>
        @foreach (var repository in Model.Repositories)
        {
            <span class="xd">&lt;</span><span class="xn">nobr</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">span </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">clone</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repositoryClone</span>&quot;<span class="xan">
                       href</span><span class="xd">=</span>&quot;<span class="xav">javascript:void(0)</span>&quot;<span class="xan">
                       title</span><span class="xd">=</span>&quot;<span class="xav">@Url.GetGitUrl(repository.FullName)</span>&quot;<span class="xd">&gt;</span>
                        @(repository.FullName + &quot;.git&quot;)
                    <span class="xd">&lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">span</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">a </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">repository</span>&quot;<span class="xan">
                       href</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/&quot; + repository.FullName)&quot;&gt;</span>
                        @repository.Name
                        <span class="xd">&lt;</span><span class="xn">span </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">latest-commit</span>&quot;<span class="xd">&gt;</span>@repository.LatestCommitInfo<span class="xd">&lt;/</span><span class="xn">span</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">li</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">nobr</span><span class="xd">&gt;</span>
        }
    <span class="xd">&lt;/</span><span class="xn">ul</span><span class="xd">&gt;</span><span class="xd">
 
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmWindow</span>&quot; <span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">dialog</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">title</span>&quot;<span class="xd">&gt;</span>
        Clone the repository using this command <span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">#</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmClose</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">img </span><span class="xan">src</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/Content/images/close.png&quot;)&quot; alt=&quot;Close&quot; /&gt;</span><span class="xd">
        &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">content</span>&quot;<span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">pre</span><span class="xd">&gt;</span>git clone <span class="xd">&lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text</span>&quot; <span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">repository-url</span>&quot; <span class="xd">/&gt;</span><span class="xd">&lt;/</span><span class="xn">pre</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
&lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmWindow</span>&quot; <span class="xan">id</span><span class="xd">=</span>&quot;<span class="xav">createRepositoryDialog</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">title</span>&quot;<span class="xd">&gt;</span>
        Create a new repository <span class="xd">&lt;</span><span class="xn">a </span><span class="xan">href</span><span class="xd">=</span>&quot;<span class="xav">#</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">jqmClose</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">img </span><span class="xan">src</span><span class="xd">=</span>&quot;<span class="xav">@Url.Content(</span>&quot;<span class="xan">~</span><span class="xd">/Content/images/close.png&quot;)&quot; alt=&quot;Close&quot; /&gt;</span><span class="xd">
        &lt;/</span><span class="xn">a</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">div </span><span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">content</span>&quot;<span class="xd">&gt;</span>
        @using (Html.BeginForm(&quot;Create&quot;, &quot;DirectoryList&quot;))
        {
            <span class="xd">&lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text</span>&quot; <span class="xan">name</span><span class="xd">=</span>&quot;<span class="xav">project</span>&quot; <span class="xd">/&gt;</span>@:.git<span class="xd">&lt;</span><span class="xn">br </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">input </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">submit</span>&quot; <span class="xan">value</span><span class="xd">=</span>&quot;<span class="xav">Create a new repository</span>&quot; <span class="xan">class</span><span class="xd">=</span>&quot;<span class="xav">button</span>&quot; <span class="xd">/&gt;</span>
        }
    <span class="xd">&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">div</span><span class="xd">&gt;</span><span class="xd">
 
&lt;</span><span class="xn">script </span><span class="xan">type</span><span class="xd">=</span>&quot;<span class="xav">text/javascript</span>&quot;<span class="xd">&gt;</span>
    $(function () {
        $(&#39;#dialog&#39;).jqm();
        $(&#39;#createRepositoryDialog&#39;).jqm();
 
        $(&#39;#repository-url&#39;).click(function () {
            $(this).select();
        });
 
        $(&#39;a.repositoryClone&#39;).click(function () {
            var url = $(this).attr(&#39;title&#39;);
            $(&#39;#dialog&#39;).jqmShow();
            $(&#39;#repository-url&#39;).val(url).focus().select();
        });
 
        $(&#39;a.createRepository&#39;).click(function () {
            $(&#39;#createRepositoryDialog&#39;).jqmShow();
        });
    });
<span class="xd">&lt;/</span><span class="xn">script</span><span class="xd">&gt;</span></pre></td></tr></table></div></body></html>
